<h1>Recipes Index</h1>

<% @recipes.each_with_index do |r, i|%>
  <h4><a href="/recipes/#{i}"><%="#{r.name}"%></a></h4>
  <p> <%= "#{r.ingredients}" %> </p>
  <p><%= "#{r.cook_time}" %></p>
  <%end%>
